/* Centering the map picture */

.col-sm-12 .img-responsive {
  margin: 0 auto;
}

/* Centering the map description */

#mapDesc {
  text-align: center;
}

/* Setting distance between the map and the elements above and below it */

#mapContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#mapPic {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 0px;
}

/* Centering the profile picture */
#myImg {
  margin: 0 auto;
}

/* Centering the text divs */

#mapDesc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#myStoryDesc {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#myProjects {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Hiding jumbotrons

#Jumbotron1 {
    display: none;
}

*/

/* Setting social icons dimensions*/

.fa {
  width: 48px !important;
  height: 48px !important;
}

/* Setting footer style */

.panel-footer.panel-custom {
    background-color: white;
    margin-top:20px;
}
